.add-bike-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .add-bike-container .btn-primary {
    background-color: #52a44f;
    border: none;
    transition: all 0.3s ease-in-out;
  }
.add-bike-container .tit{
  background-color: rgb(21, 126, 93);
    font-family: 'Times New Roman', Times, seri;
    font-size: 30px;
    font-weight: bolder;
  }
  .add-bike-container .btn-primary:hover {
    background-color: #386faa;
  }
  
 