/* Container Styling */
.all-users-container {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9f9;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title Styling */
.title {
    color: #070606;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #f4f9f9;
}

/* No Data Message */
.no-data {
    font-size: 20px;
    color: #7f8c8d;
    margin-top: 20px;
}

/* Table Styling */
.user-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
    overflow: hidden;
}

/* Table Header */
.user-table thead {
    background-color: #d5b363;
    color: #fff;
    
}

.user-table th {
    padding: 15px;
    text-align: center;
    font-size: 17px;
}

/* Table Body */
.user-table tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.user-table tbody tr:hover {
    background-color: #f4f9f9;
}

.user-table td {
    padding: 15px;
    font-size: 16px;
    color: #000204;
}

/* Responsive Design */
@media (max-width: 768px) {
    .page-title {
        font-size: 28px;
    }

    .user-table th, .user-table td {
        font-size: 12px;
        padding: 10px;
    }
}
