.all-bookings-container {
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  align-content: center;
  text-align: center; /* Ensures centering of text elements */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
  font-size: 40px;
  font-weight: bolder;
}

.tabl {
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Set a maximum width */
  border-collapse: collapse;
  margin: 0 auto; /* Center table horizontally */
  text-align: left;
}

.tabl thead tr {
  background-color: #d8b45e;
  color: #ca1717;
  text-align: center;
}

.tabl th,
.tabl td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tabl tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabl tbody tr:hover {
  background-color: #b9c5dd;
}

.action-button {
  background-color: rgb(230, 190, 29);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.action-button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li.active {
  font-weight: bold;
  text-decoration: underline;
}

.pagination li:hover {
  text-decoration: underline;
}
