.update-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .my-wallet-card {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .my-wallet-card-title {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    background-color: #52a44f;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .my-wallet-section {
    text-align: center;
    padding: 15px;
  }
  
  .my-wallet-input {
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
  }
  
  .my-wallet-button {
    background-color: #a89412;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .my-wallet-button:hover {
    background-color: #c96416;
    cursor: pointer;
  }
  