/* src/app.css or your custom CSS file */

/* Container for the image */
.image-container {
  width: 100%;
  height: calc(100vh - 150px); /* Subtract the height of navbar and footer */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 0; /* Optional margin around the image */
}

.image-between {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
}

@media (max-width: 768px) {
  .image-container {
    height: calc(100vh - 120px); /* Adjust for smaller screens if needed */
  }
  .image-between {
    width: 100%;
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Ensures the image covers the entire space without distortion */
  }
}
